<div class="container">
  <div class="row">
    <div class="whiteHeader col">
      <h1 class="greetingLabel text-center">Blu-to-do</h1>
    </div>
  </div>
  <div class="row pageContent">
    <div class="whiteSidebar col-4">
          <h1 class="text-center">
            <%= link_to new_article_path do %>
               <%= image_tag "addIcon.svg", class: "iconSmall" %>
            <% end %>
             Lists</h1>
    </div>
    <div class="scrollView col-8 row">
        <% @articles.each do |article| %>
          <div class="whiteList col-sm">
            <table>
              <tr>
                <td>
                  <%= link_to edit_article_path(article) do %>
                   <%= image_tag "editIcon.svg", class: "iconSmall" %>
                  <% end %>

                <%= article.title %>

                <%= link_to article_path(article),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } do %>
                   <%= image_tag "deleteIcon.svg", class: "iconSmall" %>
                <% end %></td>

                <td><%= article.text %></td>

              </tr>
            </table>
          </div>
        <% end %>
    </div>
  </div>
</div>
